<div class="container">
  <div class="row mt-5">
    <div class="col-sm-4">
      <div class="card bg-success">
        <div class="card-body text-center text-white">
          <i class="fas fa-store"></i>
          <h5 class="card-title">Tiendas</h5>
          <h1>27</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-warning">
        <div class="card-body text-center">
          <i class="fas fa-user"></i>
          <h5 class="card-title">Usuarios</h5>
          <h1>107</h1>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card bg-danger">
        <div class="card-body text-center text-white">
          <i class="fas fa-paw"></i>
          <h5 class="card-title">Mascotas</h5>
          <h1>250</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12">
      <app-line-chart></app-line-chart>
    </div>
    <div class="col-12">
      <app-bar-chart></app-bar-chart>
    </div>
  </div>
</div>
